.reactive-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  color: #ffffff;
  background-color: #49524e;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
}

.full-width {
  width: 100%;
}

button {
  background-color: #89C843;
  color: #ffffff;
  width: 430px;
  border-radius: 0px 0px 10px 10px;
}
